




    <div class="sidebar-wrapper" > 
        <div class="profil-card">
           <div class="header">
               <h2>Main Menu</h2>
               <h4>exemple@email.com</h4>
           </div>
           <img src="" alt="" >
              Profil
    
        </div>
    
    <mat-divider></mat-divider>
    <div id="navigation" class="navigation  ">
    <div>
    <ul>
        <li>
            <span class="icon"></span>
            <span class="title" ><h2></h2></span>
        </li>
        <li>
            <a class="nav-link" routerLink="../default">
            <span class="icon"><i class="fas fa-home" aria-hidden="true"></i></span>
            <span class="title" >Dashboard</span>
            </a>
        </li>
     
        <li>
            <a class="nav-link" routerLink=cars>
            <span class="icon"><i class="fas fa-car" aria-hidden="true"></i></span>
            <span class="title" >Cars</span>
            </a>
        </li>
        <li>
            <a class="nav-link" routerLink="user">
            <span class="icon"><i class="fas fa-users" aria-hidden="true"></i></span>
            <span class="title" >Users</span>
        </a>
        </li>
        <li>
            <a class="nav-link" routerLink="workshop">
                <span class="icon"></span>
                <span class="icon">Workshop</span>
            </a>
        </li>
        <li>
            <a class="nav-link" routerLink="qualification">
                <span class="icon"><i class="fas fa-code-branch"></i></span>
                <span class="title" >Qualification</span>
            </a>
        </li>
        <li>
            <a href="#">
            <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
            <span class="title" >Logout</span>
        </a>
        </li>
        <li>
            <a href="#">
            <span class="icon"><i class="fas fa-hands-helping"></i></span>
            <span class="title" >Help</span>
        </a>
        </li>
        <li>
            <a href="#">
            <span class="icon"><i class="fas fa-cogs"></i></span>
            <span class="title" >settings</span>
        </a>
        </li>
    </ul>
    </div>
   

</div>
</div> 