.cards-area{
    position :relative;
    display: grid;
    width: 100%;
    padding :5px;
    grid-template-columns: repeat(4,1fr);
    grid-gap:20px;

}

 .com info-card {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content:space-between;
    cursor:pointer;
    -webkit-box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.19);
    box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.19);
    background: rgb(240,239,246);
      background: linear-gradient(90deg, rgba(240,239,246,1) 0%, rgba(164,164,237,1) 100%); 

   }

.info-card {

    border :none;
    display: grid;
    grid-template-columns: 70% 30%;
    border-radius: 3%;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 1px 2px 8px 3px rgba(0,0,0,0.19);
    
    -moz-box-shadow: 1px 2px 8px 3px rgba(0,0,0,0.19);
    box-shadow: 1px 2px 8px 3px rgba(0,0,0,0.19);
    
}



.card-title{
    padding: 10px;
    font-weight: bold;
    color:rgb(56, 41, 41);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 30px;
}

.card-info{
    
    font-size: 30px;
    padding: 10px;
    
}
.card-icon{
    padding:20px;
    font-size: 50px;
   
}