
<div class="cards-area">
       
    <div class="info-card">
        <div class="card-content">
            <div class="card-title">Line Charts</div>
            <div class="card-info">56</div>
       </div>
       <div class="card-icon"><i class="fa fa-address-book" aria-hidden="true"></i></div>
       </div>

       <div class="info-card">
        <div class="card-content">
            <div class="card-title">Line Charts</div>
            <div class="card-info">56</div>
       </div>
       <div class="card-icon"><i class="fa fa-address-book" aria-hidden="true"></i></div>
       </div>

       <div class="info-card">
        <div class="card-content">
            <div class="card-title">Line Charts</div>
            <div class="card-info">56</div>
       </div>
       <div class="card-icon"><i class="fa fa-address-book" aria-hidden="true"></i></div>
       </div>
     
       <div class="info-card">
        <div class="card-content">
            <div class="card-title">Line Charts</div>
            <div class="card-info">56</div>
       </div>
       <div class="card-icon"><i class="fa fa-address-book" aria-hidden="true"></i></div>
       </div>
    
    
</div>
<mat-divider></mat-divider>
<div>
    <div>Table</div>
    <div>Table</div>
</div>