<div id="navigation" class="navigation flex-child "
       [class.menu-open] = "isOpen"
       [class.menu-close] = "!isOpen">
    <ul>
        <li>
            <span class="icon"></span>
            <span class="title" *ngIf="isOpen"><h2>HS-Portal</h2></span>
        </li>
        <li>
            <a href="#">
            <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
            <span class="title" *ngIf="isOpen">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#">
            <span class="icon"><i class="fa fa-users" aria-hidden="true"></i>  </span>
            <span class="title" *ngIf="isOpen">Users</span>
        </a>
        </li>
        <li>
            <a href="#">
            <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
            <span class="title" *ngIf="isOpen">Logout</span>
        </a>
        </li>
        <li>
            <a href="#">
            <span class="icon"><i class="fas fa-hands-helping"></i></span>
            <span class="title" *ngIf="isOpen">Help</span>
        </a>
        </li>
        <li>
            <a href="#">
            <span class="icon"><i class="fas fa-cogs"></i></span>
            <span class="title" *ngIf="isOpen">settings</span>
        </a>
        </li>
    </ul>
    <div class="toggle" (click)=" openClose()"></div>

</div>
