

<mat-drawer-container>
   
    <mat-drawer mode="side" [opened] = "!collapsed"  >
        <div class="sidebar-area">
        <app-sidebar (sidebarStatus)="changeSidebarStatus($event)"></app-sidebar>
        </div>
    </mat-drawer>
    <mat-drawer-content [class.sidebarExtended] = "extended" autosize>
        <app-header (collapseEvent)="toggleSideBar($event)"></app-header>
        <app-sheader></app-sheader>
        
        <router-outlet></router-outlet>
           
    </mat-drawer-content>
</mat-drawer-container>



<app-footer></app-footer>
<div class="container modal fade" id="addNewWorkshop">
    <form>
        <div class="row justify-content-md-center">
           <div class="col-md-6 col-sm-12">
                      <h3>hei It s Work</h3>
           </div>

        </div>
    </form>
</div>
