<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
       
        <li class="nav-item">
         <button class="btn btn-outline-primary" (click) ="openNewOrder()">
           <span style="font-size:24px"><i class="fa fa-plus-circle" aria-hidden="true"></i></span> &nbsp; &nbsp;
          Add new workOrder  &nbsp; &nbsp;
        </button>
        </li>
        &nbsp; &nbsp;
        
      

        <li class="nav-item">
          <button class="btn btn-outline-primary"> <span style="font-size:24px"><i class="fa fa-cogs" aria-hidden="true"></i></span>
            &nbsp; &nbsp;
          Manage WorkOrders  &nbsp; &nbsp;

         </button>
         </li>
        
    
        
      </ul>
     
    </div>
  </nav>