* {
   margin:0px;
   padding:0px;
}

.sheader{
    
    
    margin-top:6px;
    background-color: white;
    width:100%;
    font-weight: 300;
  
    
    -webkit-box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.19);
    box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.19);
        
background: rgb(240,239,246);
background: linear-gradient(90deg, rgba(240,239,246,1) 0%, rgba(164,164,237,1) 100%); 
    }


.sh-nav{
    padding:12px;
}